div#content.ui.segment{
    background-color: #73c2fb;
}

body.pushable{
    background-color: #73c2fb;
}

.header {
font-size: 1.3em;
}

div.ui.inverted.fixed.menu{
    font-size: 0.9em;
}

div#banner.ui.raised.segment{
    margin-top: 1.5em;
    text-align: center;
    /* background-color: #73c2fb; */
    border: none;
}

a.social {
    font-size: 0.8em;
    margin-left: 0.8em;
}

a.ui.floated.button {
    background-color: rgba(0, 0, 0, 0.87);
    color:rgba(255, 255, 255, 0.9);
}

img#tess-image.ui.left.floated.image{
    max-width: 100%;
    max-height: 100%;
}

ul.success-items{
    list-style: none;
    padding: 0px;
    font-weight: bold;
}

a.ui.label.caption{
    /* margin: auto; */
    align-items: center;
}
/* 
li.success-list{
    margin: 0px;
} */

footer {
    margin: 2em;
}


p.footer-details{
    font-size: 0.8em;
    line-height: 0.4em;
}

#best{
    color: rgba(235, 247, 243, 0.61)
}

span#calendarTitle {
    visibility: hidden;
}

div#eventCalendar {
    margin: 2em; 
}

a.caption{
    font-size: 1.3em;
    color: #1B1C1D
}

div.row.paragraph-text{
    margin-top: 0px;
}

@media screen and (max-width: 400px){
    #mobile_item{
        margin-left: 0;
        font-size: 1.1em;
    }
    div.ui.inverted.menu{
        font-size: 0.85em;
    }
    div#eventCalendar {
        margin: 0.2em 0px 0.2em 0px ; 

    }
}

/* #mobile_item{
    margin-right: 1.2em;
    font-size: 1.2em;
} */

/* body{
    overflow-y: hidden; 
    overflow: hidden;
} */

/* div.ui.pushable.segment{
    overflow: hidden;
} */

/* .pusher{
    overflow: hidden;
} */

/* body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 10px;
} */

/* .ui.menu:first-child {
    margin-top: 0;
}
.ui.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: none;
    transition: none;
    will-change: transform;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%!important;
    max-height: 100%;
    border-radius: 0!important;
    margin: 0!important;
    overflow-y: auto!important;
    z-index: 102;
} */