.header {
font-size: 1.3em;
}

.ui.huge.header{
    margin: 0.2em;
    text-align: center;
}

div#banner.ui.bottom.attached.segment{
    background: #26C7FF;
    margin-top: 0.5em;
    text-align: center;
}

a.social {
    font-size: 0.8em;
    margin-left: 0.8em;
}

footer {
    margin: 2em;
}
/* @media screen and (min-width: 770px){
    img#group{
      
    }  
}  */