/* Menu Styling */
div#content.ui.segment{
    background-color: #73c2fb;
}

body.pushable{
    background-color: #73c2fb;
}

.header {
font-size: 1.3em;
}

div.ui.inverted.fixed.menu{
    font-size: 0.9em;
}

a.social {
    font-size: 0.8em;
    margin-left: 0.8em;
}

/* Logo Styling */
div#banner.ui.raised.segment{
    margin-top: 1.5em;
    text-align: center;
    /* background-color: #73c2fb; */
    border: none;
}

/* Home Page  */
a.ui.floated.button, a.ui.fluid.button {
    background-color: rgba(0, 0, 0, 0.87);
    color:rgba(255, 255, 255, 0.9);
}

/* TODO: No longer needed? */
img#tess-image.ui.left.floated.image{
    max-width: 100%;
    max-height: 100%;
}

/* About Page */
ul.success-items{
    list-style: none;
    padding: 0px;
    font-weight: bold;
}

a.ui.label.caption{
    /* margin: auto; */
    align-items: center;
}
/* 
li.success-list{
    margin: 0px;
} */

/* Contact Page */
div#contactContent.ui.segment {
    background-image: url("https://images.unsplash.com/photo-1519760370-4a5c4dc9a17a?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
    background-size: cover;
    resize: both;
    /* background-repeat: no-repeat; */
}

div.ui.stackable.grid.aboutGrid {
    margin: 4em 0px 4em 0px;
}

/* Events Page */
span#calendarTitle {
    visibility: hidden;
}

div#eventCalendar {
    margin: 2em; 
}

div#eventButton.row{
    padding: 0px;
}

a#scheduleLink.large.ui.fluid.button{
    margin-top: 1.2em;
}

div#downloadButton.row{
    padding-bottom: 0px;
}

a#trainingPageLink.large.ui.fluid.button{
    margin: 0px;
}

/* Menus Page */
h3#MealPrepSub.ui.center.aligned.header{
    /* border: 3px solid #73c2fb; */
    /* border: 3px solid #1b1c1d; */
    /* border: 3px solid #03DF51; */
    padding: 0.3em;
}

div#mealDescription.sub.header{
    font-size: 1.2em;
    padding: 0.6em;
}

div#mealDescription.ui.segment{
    background: #73c2fb;
    margin-bottom: 0.5em;
}

div.ui.center.aligned.segment.menuText {
    background: #73c2fb;
}

div#cookieHeader.ui.center.aligned.tiny.header{
    padding-left: 0.2em;
}
a.ui.fluid.button {
    background-color: rgba(0, 0, 0, 0.87);
    color:rgba(255, 255, 255, 0.9);
    margin-top: 3em;
}

h4#instructions.ui.left.aligned.header{
    margin-top: 0px;
    margin-bottom: 0px;
}

h4#paymentInstructions.ui.left.aligned.header{
    margin-top: 0px;
    margin-bottom: 0px;
}

h3#order.ui.left.aligned.header{
    margin-bottom: 0px;
}

h3#phoneButton.ui.button {
    margin: 0.2em;
    padding: 0.4rem;
}

h3#cashAppButton.ui.button {
    margin: 0.2em;
    padding: 0.4rem;
}

h3#venmoButton.ui.button {
    margin: 0.2em;
    padding: 0.4rem;
}

i.material-icons{
    font-size: 0.8em;
}

/* Training Page */

div#trainingInfo.ui.segment{
    background: #73c2fb;
}

div.trainingCaption{
    font-size: 1.1em;
    color: #1B1C1D;
    /* padding: 0.1em; */
}

div.ui.tiny.header{
    margin: 0.2em;
    font-size: 1.1em;
    margin-left: 0px;
}

span.classLocation{
    display: block;
}

a.mapLink{
    color: #1B1C1D;
}

i.far.fa-registerd{
    width: 15%;
}

div.trainingTitle.content{
    padding-bottom: 0px;
}

.underline{
    font-weight: bold;
    text-decoration: underline;
}

/* Accountability Page */
div.ui.center.aligned.segment.accountability {
    background-color: #73c2fb; 
}

div#accountabilityInfo.ui.segment {
    background-color: #73c2fb; 
}

a.email{
    color: #1B1C1D;
}

/* footer */
footer {
    margin: 2em;
}

p.footer-details{
    font-size: 0.8em;
    line-height: 0.4em;
}

.best{
    color: rgba(235, 247, 243, 0.61)
}

a.caption{
    font-size: 1.3em;
    color: #1B1C1D
}

div.row.paragraph-text{
    margin-top: 0px;
}

span.textTess, span.email, span.location{
    padding-left: 0.6em;
}

p#contactInfo{
    font-weight: bold;
}

@media screen and (max-width: 400px){
    #mobile_item{
        margin-left: 0;
        font-size: 1.1em;
    }
    div.ui.inverted.menu{
        font-size: 0.85em;
    }
    div#eventCalendar {
        margin: 0.2em 0px 0.2em 0px; 
    }

}
@media screen and (max-width: 550px){
    span.break{
        display: block;
    }
}

@media screen and (max-width: 700px) {
    span#textTess, span#email, span#location{
        padding-left: 0.2em;
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    div.six.wide.column.socialMediaSidebar{
        padding: 0.5em;
    }
    div.ui.stackable.grid.aboutGrid {
        margin: 0px;
    }
    div#contactTessCard.ui.raised.centered.segment {
        max-width: 85%
    }
}
/* #mobile_item{
    margin-right: 1.2em;
    font-size: 1.2em;
} */

/* body{
    overflow-y: hidden; 
    overflow: hidden;
} */

/* div.ui.pushable.segment{
    overflow: hidden;
} */

/* .pusher{
    overflow: hidden;
} */

/* body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 10px;
} */

/* .ui.menu:first-child {
    margin-top: 0;
}
.ui.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: none;
    transition: none;
    will-change: transform;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%!important;
    max-height: 100%;
    border-radius: 0!important;
    margin: 0!important;
    overflow-y: auto!important;
    z-index: 102;
} */